{% extends 'base.html' %}

{% block style %}
style="background-color: rgba(27, 177, 27, 0.2);"
{% endblock %}
{% block content %}
<div class="m-0 text-left" style="width: 90vw; height: 5rem; background-color: white; border-bottom-left-radius: 2rem; border-bottom-right-radius: 2rem; background-image: url('/static/leaves-bg.gif'); background-repeat:repeat;">
<h1 class="text-center pt-3">Scotland Grant Scheme Matcher</h1>
</div>
<main id="home">
<h1 class="text-center">Find grants to fund your environmental project!</h1>
<div class="begin-button">
<button id="begin-button" class="btn btn-success btn-large text-center begin-button">
<a href="/form/question/1" style="text-decoration: none; color: white;">Start Finding Grants</a>
</button>
</div>
</main>
{% endblock %}