{% extends 'base.html' %}

{% block style %}
style="background-color: rgba(27, 177, 27, 0.2);"
{% endblock %}
{% block content %}
<div class="container results">
    <div class="row">
      <div class="col">
        <div class="container response">
            <h3 class="text-center">Your Responses</h3>
            {% for item in responses %}
                <p><b>{{item[0]}}</b>:</p>
                {% if item[1] == True %}
                <h5 class="text-danger">Yes</h5>
                {% elif item[1] == False %}
                <h5 class="text-danger">No</h5>
                {% else %}
                <h5 class="text-danger">{{item[1]}}</h5>
                {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col">
        <div class="container grants">
            {% for num in grants_list %}
                <div class="container individual-grant">
                    <h5 class="text-black text-left">{{grant_titles[num-1]}}</h5>
                    <div class="style-line"></div>
                    <iframe src="../static/files/{{num}}.pdf" frameborder="0" width="350" height="450"></iframe>
                    <div class="additional-info row">
                        <div class="col">
                            <h6 class="mt-3 text-black">You could receive</h6>
                            <div class="mt-3 mb-0 amount">
                                {% if grant_data['g' + num|string]['amount'][1]|is_string %}
                                <span>{{grant_data['g' + num|string]['amount'][1]}}</span>
                                {% else %}
                                <span>£</span>
                                <span>0 - </span>
                                <span class="counter" data-target="{{grant_data['g' + num|string]['amount'][1]}}">0</span>
                                {% endif %}
                            </div>
                            {% if num == 1 %}
                                <p class="mt-3 text-black"><b>Over 5 Years</b></p>
                            {% elif num == 3 %}
                                <p class="mt-3 text-black"><b>Full Cost of FGS Application</b></p>
                            {% elif num == 4 %}
                                <p class="mt-3 text-black"><b>Of Total Project Cost</b></p>
                            {% elif num == 5 %}
                                <p class="mt-3 text-black"><b>Over 2 Years</b></p>
                            {% endif %}
                        </div>
                        <div class="col-md-auto"></div>
                        <div class="col">
                            <h6 class="mt-3 text-black">How To Apply</h6>
                            <button class="mt-3 mb-0 btn btn-info"><a href="{{grant_data['g' + num|string].url}}" target="_blank" style="text-decoration: none; color: black;">Apply Here</a></button>   
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}