{% extends 'base.html' %}

{% block content %}
<div class="container results">
    <div class="row">
      <div class="col">
        <div class="container response">
            <h3 class="text-center">Your Responses</h3>
            {% for item in responses %}
                <p><b>{{item[0]}}</b>:</p>
                {% if item[1] == True %}
                <h5 class="text-danger">Yes</h5>
                {% elif item[1] == False %}
                <h5 class="text-danger">No</h5>
                {% else %}
                <h5 class="text-danger">{{item[1]}}</h5>
                {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="col">
        <div class="container grants">
            {% for num in grants_list %}
                <div class="container individual-grant">
                    <h5 class="text-black text-left">{{grant_titles[num-1]}}</h5>
                    <div class="style-line"></div>
                    <iframe src="../static/files/{{num}}.pdf" frameborder="0" width="350" height="450"></iframe>
                    <div class="additional-info row">
                        <div class="col">
                            <h6 class="mt-3 text-black">You could recieve</h6>
                            <div class="mt-3 mb-0 counter amount" data-target="60000">0</div>
                        </div>
                        <div class="col">
                            <h6 class="mt-3 text-black">How To Apply
                                <button class="mt-3 mb-0 btn btn-info"><a href="https://www.ruralpayments.org/topics/all-schemes/forestry-grant-scheme/forestry-grant-scheme-full-guidance-menu/" target="_blank" style="text-decoration: none; color: black;">Apply Here</a></button>
                            </h6>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
      </div>
    </div>
    <button><a href="/restart">Start New Grant Finding Form</a></button>
  </div>
{% endblock %}